@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-weight: 400;
  line-height: 1.6;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
}

.main {
  width: 100%;
  font-family: "Raleway", sans-serif;
}

/* header */

.header {
  display: flex;
  flex-direction: column;
}
.header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.header__content {
  position: relative;
  margin: auto;
}

.header__content-text {
  width: 548px;
  margin-top: 92px;
  padding-right: 20px;
  color: white;
}
.header__content-text h1 {
  margin: 20px 0;
  font-size: 4.5rem;
}
.header__content-text p {
  font-size: 1.25rem;
  font-weight: 500;
}
.header__content-text button {
  margin: 35px 0 30px;
}

.header__content img {
  position: absolute;
  right: 0;
  margin: 115px 0 0 auto;
  width: auto;
  z-index: -1;
}

.header__content-advantages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 74px;
  margin-bottom: 32px;
}

.advantage div {
  display: flex;
  flex-direction: column;
  width: 336px;
  height: 302px;
  margin: 34px 12px;
  padding: 48px 20px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.25);
}
.advantage h3 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.1;
}
.advantage-1 h3 {
  color: #3a0e63;
}
.advantage-2 h3 {
  color: #c04a87;
}
.advantage-3 h3 {
  color: #7145e0;
}
.advantage p {
  margin-top: 24px;
  margin-bottom: 30px;
}
.advantage span {
  height: 36px;
  width: 36px;
}
.advantage svg {
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
  fill: #281c31;
}

/* explore */

.explore {
  width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 59px auto 42px;
}

.explore__title {
  margin: 20px 20px 58px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 2.25rem;
  text-align: center;
}

.explore__categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.category {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category img {
  height: 350px;
  object-fit: contain;
  background-size: contain;
}
.category h4 {
  margin: 45px 20px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.5rem;
}

/* UI */

/* button */

.button {
  padding: 16px 54px 16px 53px;
  
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;

  color: white;
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.4;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;

  cursor: pointer;
}
.button:hover {
  color: #281c31 !important;
  background-color: white !important;
}

/* product */

.product {
  display: flex;
  color: white;
}
.product-1 {
  background-color: #7145e0;
}
.product-2 {
  background-color: black;
}
.product-3 {
  background-color: #c04a87;
}
.product-left {
  flex-direction: row-reverse;
  text-align: right;
}

.product__text,
.product__image {
  height: 615px;
  width: 50%;
  flex: 0 0 50%;
}

.product__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 112px;
  padding-right: 88px;
}
.product__text h2 {
  margin: 60px 0 40px;
  font-weight: 700;
  line-height: 1.1;
  font-size: 3.75rem;
}
.product__text button {
  margin: 40px auto 60px 0;
}
.product-left .product__text button {
  margin: 40px 0 60px auto;
}

.product__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* screen size */


@media (max-width: 1199px) {
  .explore {
    width: 940px;
  }

  .product__text h2 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .explore {
    width: 720px;
  }

  .product__text,
  .product__image {
    height: 495px;
  }
  .product__text h2 {
    font-size: 1.875rem;
  }
  .product__text {
    padding: 0 66px;
  }
}

@media (max-width: 767px) {
  .explore {
    width: 540px;
  }

  .product {
    flex-direction: column;
  }
  .product__text,
  .product__image {
    height: 615px;
    flex: 1;
    width: 100%;
  }
  .product__text {
    padding: 0 47px 0 52px;
  }
  .product__text h2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .explore {
    width: 340px;
  }

  .product__text,
  .product__image {
    height: 465px;
  }
  .product__text {
    padding: 0 49px;
  }
  .product__text h2 {
    font-size: 3rem;
  }
}