@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-weight: 400;
  line-height: 1.6;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
}
h3 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.1;
}
h4 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.5rem;
}

body {
  overflow-x: hidden;
}

.main {
  width: 100%;
  font-family: "Raleway", sans-serif;
}

/* header */

.header {
  display: flex;
  flex-direction: column;
}
.header>img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  overflow: hidden;
  z-index: -1;
}

.header__content {
  position: relative;
  margin: auto;
}

.header__content-text {
  width: 548px;
  margin-top: 92px;
  padding-right: 20px;
  color: white;
}
.header__content-text h1 {
  margin: 20px 0;
  font-size: 4.5rem;
}
.header__content-text p {
  font-size: 1.25rem;
  font-weight: 500;
}
.header__content-text button {
  margin: 35px 0 30px;
}

.header__content img {
  position: absolute;
  top: 0;
  right: 0;
  width: 637px;
  height: 600px;
  object-position: 50% 6.59%;
  margin: 115px 0 0 auto;
  overflow: hidden;
  z-index: -1;
}

.header__content-advantages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 74px;
  margin-bottom: 32px;
}

.advantage div {
  display: flex;
  flex-direction: column;
  width: 336px;
  height: 302px;
  margin: 34px 12px;
  padding: 48px 20px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.25);
}
.advantage-1 h3 {
  color: #3a0e63;
}
.advantage-2 h3 {
  color: #c04a87;
}
.advantage-3 h3 {
  color: #7145e0;
}
.advantage p {
  margin-top: 24px;
  margin-bottom: 30px;
}
.advantage span {
  height: 36px;
  width: 36px;
}
.advantage svg {
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
  fill: #281c31;
}

@media (max-width: 1199px) {
  .header>img {
    height: 955px;
  }
  .header__content-text {
    width: 447px;
    margin-left: 150px;
  }
  .header__content img {
    width: 538px;
    height: 572px;
    margin-top: 172px;
  }
}
@media (max-width: 991px) {
  .header>img {
    height: 926px;
  }
  .header__content-text {
    width: 622px;
    margin-bottom: 225px;
  }
  .header__content img {
    width: 417px;
    height: 465px;
    margin-top: 278px;
  }
}
@media (max-width: 767px) {
  .header>img {
    height: 1006px;
  }
  .header__content-text {
    width: 540px;
    margin: 92px auto 300px;
  }
  .header__content img {
    height: 464px;
    margin-top: 475px;
    width: auto;
  }
}
@media (max-width: 575px) {
  .header>img {
    height: 1026px;
  }
  .header__content-text {
    width: 340px;
    margin-bottom: 150px;
  }
  .header__content img {
    height: 431px;
    margin-top: 477px;
  }
}

/* explore */

.explore {
  width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 59px auto 42px;
}

.explore__title {
  margin: 20px 20px 58px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 2.25rem;
  text-align: center;
}

.explore__categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.category {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category img {
  height: 350px;
  object-fit: contain;
}
.category h4 {
  margin: 45px 20px;
}

@media (max-width: 1199px) {
  .explore {
    width: 940px;
  }
}
@media (max-width: 991px) {
  .explore {
    width: 720px;
  }
}
@media (max-width: 767px) {
  .explore {
    width: 540px;
  }
}
@media (max-width: 575px) {
  .explore {
    width: 340px;
  }
}

/* connect */

.connect {
  position: relative;
}

.connect__image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 714px;
  margin-top: 262px;
  object-fit: cover;
  object-position: 80% 23.8%;
  overflow: hidden;
  z-index: -1;
}

.connect__content {
  min-height: 976px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connect__content h3 {
  margin: 73px 0 61px;
  padding: 31px 60px;
}

.connect__items {
  width: 946px;
  display: flex;
  justify-content: center;
}
.connect__item {
  padding: 0 25px;
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
  padding-bottom: 42px;
}
.connect__item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.connect__item h4 {
  margin: 43px 0 30px;
}

@media (max-width: 991px) {
  .connect__items {
    width: 720px;
  }
}
@media (max-width: 767px) {
  .connect__items {
    width: 540px;
    flex-direction: column;
  }
  .connect__item {
    flex: 1;
    max-width: 100%;
  }
}
@media (max-width: 575px) {
  .connect__items {
    width: 340px;
  }
}

/* gearIconX */

.gearIconX {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}
.gearIconX p {
  width: 869px;
  margin: 20px auto 33px;
}
.gearIconX img {
  width: 754px;
  height: 566px;
  margin: 0 auto;
  object-fit: contain;
  overflow: hidden;
}

@media (max-width: 1199px) {
  .gearIconX p {
    width: 716px;
  }
  .gearIconX img {
    width: 621px;
  }
}
@media (max-width: 991px) {
  .gearIconX p {
    width: 549px;
  }
  .gearIconX img {
    width: 476px;
  }
}
@media (max-width: 767px) {
  .gearIconX p {
    width: 514px;
  }
  .gearIconX img {
    width: 446px;
  }
}
@media (max-width: 575px) {
  .gearIconX p {
    padding: 0 10px;
    width: auto;
  }
  .gearIconX img {
    height: 325px;
  }
}

/* footer */

footer {
  max-width: 1140px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 0;
}
footer h3 {
  font-size: 1.875rem;
  margin: 30px 60px;
}
footer button {
  margin: 40px 140px;
  white-space: nowrap;
}

@media (max-width: 991px) {
  footer button {
    margin-left: 30px;
    margin-right: 60px;
  }
}
@media (max-width: 767px) {
  footer {
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  footer h3 {
    margin: 10px;
  }
  footer button {
    margin-bottom: 0;
  }
}

/* UI */

/* button */

.button {
  padding: 16px 54px 16px 53px;
  
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;

  color: white;
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.4;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;

  cursor: pointer;
}
.button-black {
  border-color: black;
  color: black;
}
.button:hover {
  color: #281c31 !important;
  background-color: white !important;
}
.button-black:hover {
  color: white !important;
  background-color: black !important;
}

/* product */

.product {
  display: flex;
  color: white;
}
.product-1 {
  background-color: #7145e0;
}
.product-2 {
  background-color: black;
}
.product-3 {
  background-color: #c04a87;
}
.product-left {
  flex-direction: row-reverse;
  text-align: right;
}

.product__text,
.product__image {
  height: 615px;
  width: 50%;
  flex: 0 0 50%;
}

.product__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 112px;
  padding-right: 88px;
}
.product__text h2 {
  margin: 60px 0 40px;
  font-weight: 700;
  line-height: 1.1;
  font-size: 3.75rem;
}
.product__text button {
  margin: 40px auto 60px 0;
}
.product-left .product__text button {
  margin: 40px 0 60px auto;
}

.product__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 1199px) {
  .product__text h2 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .product__text,
  .product__image {
    height: 495px;
  }
  .product__text h2 {
    font-size: 1.875rem;
  }
  .product__text {
    padding: 0 66px;
  }
}

@media (max-width: 767px) {
  .product {
    flex-direction: column;
  }
  .product__text,
  .product__image {
    height: 615px;
    flex: 1;
    width: 100%;
  }
  .product__text {
    padding: 0 47px 0 52px;
  }
  .product__text h2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .product__text,
  .product__image {
    height: 465px;
  }
  .product__text {
    padding: 0 49px;
  }
  .product__text h2 {
    font-size: 3rem;
  }
}